@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* Cut off point for sensible square display is 700px horizontally 550px vertically.
    Display will need to have three modes that render different placements: 
        Regular: What is now, mix of horizontal and vertical alignment
        Horizontal: When the user sets the vertical height too small, align everything horizontally
*/

:root {
    --secondary-color: #ccb3ff;
    --button-background-color: #5900b3;
    --main-font: 'Roboto';
}

.modeButton {
    padding: 0;
    border-radius: 13px;
    width: 130px;
    height: 50px;
    font-family: var(--main-font);
    font-size: 20px;
    font-weight: 800;
    border: 1px solid var(--button-background-color);
    color: grey;
    border-bottom-width: 5px;

    &:hover {
        background-color: var(--secondary-color);
    }
}

.shoutout {
    font-family: var(--main-font);
    min-width: 170px;
    font-size: 20px;
    color: grey;
    text-decoration: None;

    &:hover {
        color: black;
    }

    &.home {
        text-align: right;
    }

}

.heading {
    margin: 0;
    font-family: var(--main-font);
    font-size: 36px;
    color: black;
}

.divider {
    border: solid;
    border-width: 1px;
    border-color: var(--secondary-color);
    width: 100%;
    height: 0;
}

