@import './common.css';

.title {
    margin: 0;
    font-size: 100px;
    font-family: var(--main-font);
    color: #1a1a1a;
}

.tagline {
    margin: 0;
    font-size: 25px;
    font-family: var(--main-font);
    color: grey;
    text-align: center;
}

.buttonCard {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}