@import './common.css';



.markerBackdrop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: clamp(550px, 50%, 100%);

    /* border: solid;
    border-color: red; */


   @media (max-height: 550px) and (min-width: 700px) {
        flex-direction: row;
        height: clamp(200px, 20%, 100%);
        width: clamp(450px, 55%, 100%);
        justify-content: space-between;
        /* border: solid; */
        /* justify-content: space-evenly; */
    }
}

.hotkeySection {
}

.statsSection {
    font-family: var(--main-font);
}

.smallButton {
    margin-top: 2px;
    margin: 0;
    padding: 0;
    padding-right: 5px;
    padding-top: 5px;
    font-family: var(--main-font);
    background: none;
    border: none;
    font-size: 12pt;

    &:hover {
        color: grey;
    }
}

.hotkeyButton {
    color: black;

    &:hover {
        color: black;
    }
}

.listenOverlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--main-font);
    font-size: 20pt;
}

#hotkeyTitle {
    margin-top: 15px;
    margin-bottom: 10px;
}

#statsTitle {
    margin-top: 15px;
    margin-bottom: 10px;
}

#timer {
    margin: 0;
    margin-bottom: 5px;
}