@import './common.css';



.markerBackdrop {
    /* border: solid; */
    display: flex;
    justify-content: flex-start;

}

.hotkeySection {
    /* border: solid;
    border-color: red; */
}

.statsSection {
    /* border: solid;
    border-color: blue; */
    font-family: var(--main-font);
    margin-left: 200px;
}

.smallButton {
    font-family: var(--main-font);
    background: none;
    border: none;
    font-size: 12pt;

    &:hover {
        color: grey;
    }
}



.hotkeyButton {
    color: black;

    &:hover {
        color: black;
    }
}