@import './common.css';


#optionsList {
    list-style-type: none;
    padding: 0; 
    margin: 0; 
}

.option {
    font-family: var(--main-font);
    font-size: 13pt;
    display: flex;
    margin-top: 10px;
}

.optionName { 
}

.optionToggle {
    margin-right: 20px;
}